body {
    font-family: 'Work Sans', sans-serif;
    background-color: #f1f1f1;
}


main {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin: 60px auto 60px auto;
    padding-bottom: 50px;
    width: 100%;
    max-width: 1000px;
    background-color: #ac2f4c;
}

h1,
h2,
p {
    margin: 0;
    padding: 10px;
    padding-left: 40px;
}

ul {
    padding-left: 80px;
}

#header {
    background-color: #ac2f4c;
    display: flex;
    height: 60px;
}

#cv-name {
    align-items: stretch;
    background-color: white;
    margin: 0;
    padding: 10px;
    padding-left: 40px;
    width: 70%;
}

#cv-position-block {
    display: flex;
    height: 50px;
}

#cv-position {
    align-items: stretch;
    background-color: #f3f7fb;
    margin: 0;
    padding: 10px;
    padding-left: 40px;
    width: 100%;
}

#cv-content-container {
    overflow: hidden;
    padding-bottom: 40px;
}

#cv-content-container div {
    padding-bottom: 99999px;
    margin-bottom: -99999px;
    vertical-align: top;
    padding-top: 40px;
}

#cv-content {
    display: inline-block;
    width: 75%;
    background-color: white;
}

#cv-photo-block {
    width: calc(100% - 75%);
    display: inline-block;
    background-color: #f3f7fb;
}

#cv-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    max-width: 200px;
    background-color: black;
}
